---
const today = new Date();
---

<footer>
	<div class="container">
	&copy; {today.getFullYear()} @wi.kharlamova. All rights reserved.
	<div class="social-links">
		<a href="https://m.webtoo.ls/@olha" target="_blank">
			<span class="sr-only">Follow me on Mastodon</span>
			<svg
          viewBox="0 0 75 75"
          width="50"
          style="max-width: 50px; height: auto; vertical-align: middle"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #d9072d;
              }
            </style>
          </defs>
          <path
            class="cls-1"
            d="M52.66,0h-30.31C10.01,0,0,10.01,0,22.34v30.31c0,12.34,10.01,22.34,22.34,22.35h30.31c12.34-.01,22.33-10.01,22.34-22.35v-30.31c0-12.34-10.01-22.34-22.34-22.34ZM67.46,52.66c0,8.17-6.63,14.8-14.8,14.8h-30.31c-8.17,0-14.8-6.63-14.8-14.8h0v-30.32c0-8.17,6.62-14.8,14.79-14.8h30.32c8.17,0,14.8,6.63,14.8,14.8v30.31Z"
          />
          <path
            class="cls-1"
            d="M37.5,18.11c-10.7,0-19.39,8.7-19.39,19.39s8.7,19.39,19.39,19.39,19.39-8.7,19.39-19.39-8.69-19.39-19.39-19.39ZM37.5,49.35c-6.54,0-11.85-5.3-11.85-11.84,0-6.54,5.3-11.85,11.84-11.85h0c6.54,0,11.85,5.3,11.85,11.85,0,6.54-5.3,11.84-11.84,11.85ZM56.93,13.61c2.57,0,4.65,2.08,4.64,4.65,0,2.57-2.08,4.65-4.65,4.64-2.56,0-4.64-2.08-4.64-4.64,0-2.56,1.74-4.65,4.65-4.65Z"
          />
        </svg>
		</a>
		<a href="https://twitter.com/olhakharlamova" target="_blank">
			<span class="sr-only">Follow me on Twitter</span>
			<svg
          viewBox="0 0 75 75"
          width="50"
          style="max-width: 50px; height: auto; vertical-align: middle"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
        >
          <defs>
            <style>
              .cls-2 {
                fill: #03588c;
              }
            </style>
          </defs>
          <path
            class="cls-2"
            d="M68.22,0H6.78C3.04,0,0,3.04,0,6.78v61.43c0,3.75,3.04,6.78,6.78,6.78h61.43c3.75,0,6.78-3.04,6.78-6.78V6.78c0-3.75-3.04-6.78-6.78-6.78ZM23.21,64.76c0,1.09-.88,1.97-1.97,1.97h-8.4c-1.09,0-1.97-.88-1.97-1.97V29.53c0-1.09.88-1.97,1.97-1.97h8.4c1.09,0,1.97.88,1.97,1.97v35.23ZM17.03,24.23c-4.41,0-7.98-3.57-7.98-7.98s3.57-7.98,7.98-7.98,7.98,3.57,7.98,7.98-3.57,7.98-7.98,7.98ZM67.13,64.92c0,1-.81,1.82-1.82,1.82h-9.02c-1,0-1.82-.81-1.82-1.82v-16.53c0-2.47.72-10.8-6.44-10.8-5.56,0-6.69,5.71-6.91,8.27v19.06c0,1-.81,1.82-1.82,1.82h-8.72c-1,0-1.82-.81-1.82-1.82V29.37c0-1,.81-1.82,1.82-1.82h8.72c1,0,1.82.81,1.82,1.82v3.07c2.06-3.09,5.12-5.48,11.65-5.48,14.44,0,14.36,13.49,14.36,20.9v17.05h0Z"
          />
        </svg>
		</a>
	</div>
	</div>
</footer>
<style>
	footer {
		padding: 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
