---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <h2>
      <a href="/" aria-label="{SITE_TITLE}">
        <svg
          width="150"
          style="max-width: 200px; height: auto; vertical-align: middle"
          viewBox="0 0 270 110"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
        >
          <path
            d="M105,22.5v64c0,4.42-3.58,8-8,8h-7.5c-.28,0-.5-.22-.5-.5V22.5c0-4.42,3.58-8,8-8h0c4.42,0,8,3.58,8,8Z"
            style="fill: #049dbf"
          />
          <path
            d="M245.77,94.5h-40.27c-.28,0-.5-.22-.5-.5v-19c0-.28-.22-.5-.5-.5h-19c-.28,0-.5-.22-.5-.5V15.02c0-.46.57-.68.87-.33l63.62,71.47c2.89,3.22.61,8.35-3.72,8.35Z"
            style="fill: #049dbf"
          />
          <rect
            x="185"
            y="82.5"
            width="12"
            height="12"
            rx=".5"
            ry=".5"
            style="fill: #f2b705"
          />
          <path
            d="M48,14.5c-16.57,0-30,13.43-30,30s13.43,30,30,30,30-13.43,30-30-13.43-30-30-30Z"
            style="fill: #f2b705"
          />
          <path
            d="M56.06,60.38c0,3.9-3.16,7.06-7.06,7.06s-7.06-3.16-7.06-7.06c0,0,14.12,0,14.12,0Z"
            style="fill: #fff"
          />
          <rect
            x="108"
            y="86.5"
            width="16"
            height="8"
            rx="4"
            ry="4"
            style="fill: #03588c"
          />
          <rect
            x="149"
            y="78.5"
            width="16"
            height="8"
            rx="4"
            ry="4"
            style="fill: #d9072d"
          />
          <path
            d="M47.59,79.1l-8.43,12.27c-.91,1.33.04,3.13,1.65,3.13h14.4c1.61,0,2.56-1.81,1.65-3.13l-8.43-12.27c-.2-.29-.63-.29-.82,0Z"
            style="fill: #d9072d"
          />
          <rect
            x="133"
            y="14.5"
            width="16"
            height="80"
            rx=".5"
            ry=".5"
            style="fill: #049dbf"
          />
          <path
            d="M133,50.5h75.5c.28,0,.5.22.5.5v7c0,.28-.22.5-.5.5h-75.5c-2.21,0-4-1.79-4-4h0c0-2.21,1.79-4,4-4Z"
            transform="translate(223.5 -114.5) rotate(90)"
            style="fill: #03588c"
          />
        </svg>
        <span class="sr-only">{SITE_TITLE}</span>
      </a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/insights">Insights</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://m.webtoo.ls/@astro" target="_blank">
        <span class="sr-only">Follow me on Instagram</span>

        <svg
          viewBox="0 0 75 75"
          width="50"
          style="max-width: 50px; height: auto; vertical-align: middle"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #d9072d;
              }
            </style>
          </defs>
          <path
            class="cls-1"
            d="M52.66,0h-30.31C10.01,0,0,10.01,0,22.34v30.31c0,12.34,10.01,22.34,22.34,22.35h30.31c12.34-.01,22.33-10.01,22.34-22.35v-30.31c0-12.34-10.01-22.34-22.34-22.34ZM67.46,52.66c0,8.17-6.63,14.8-14.8,14.8h-30.31c-8.17,0-14.8-6.63-14.8-14.8h0v-30.32c0-8.17,6.62-14.8,14.79-14.8h30.32c8.17,0,14.8,6.63,14.8,14.8v30.31Z"
          />
          <path
            class="cls-1"
            d="M37.5,18.11c-10.7,0-19.39,8.7-19.39,19.39s8.7,19.39,19.39,19.39,19.39-8.7,19.39-19.39-8.69-19.39-19.39-19.39ZM37.5,49.35c-6.54,0-11.85-5.3-11.85-11.84,0-6.54,5.3-11.85,11.84-11.85h0c6.54,0,11.85,5.3,11.85,11.85,0,6.54-5.3,11.84-11.84,11.85ZM56.93,13.61c2.57,0,4.65,2.08,4.64,4.65,0,2.57-2.08,4.65-4.65,4.64-2.56,0-4.64-2.08-4.64-4.64,0-2.56,1.74-4.65,4.65-4.65Z"
          />
        </svg>
      </a>
      <a href="https://m.webtoo.ls/@astro" target="_blank">
        <span class="sr-only">Follow me on Instagram</span>

        <svg
          viewBox="0 0 75 75"
          width="50"
          style="max-width: 50px; height: auto; vertical-align: middle"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
        >
          <defs>
            <style>
              .cls-2 {
                fill: #03588c;
              }
            </style>
          </defs>
          <path
            class="cls-2"
            d="M68.22,0H6.78C3.04,0,0,3.04,0,6.78v61.43c0,3.75,3.04,6.78,6.78,6.78h61.43c3.75,0,6.78-3.04,6.78-6.78V6.78c0-3.75-3.04-6.78-6.78-6.78ZM23.21,64.76c0,1.09-.88,1.97-1.97,1.97h-8.4c-1.09,0-1.97-.88-1.97-1.97V29.53c0-1.09.88-1.97,1.97-1.97h8.4c1.09,0,1.97.88,1.97,1.97v35.23ZM17.03,24.23c-4.41,0-7.98-3.57-7.98-7.98s3.57-7.98,7.98-7.98,7.98,3.57,7.98,7.98-3.57,7.98-7.98,7.98ZM67.13,64.92c0,1-.81,1.82-1.82,1.82h-9.02c-1,0-1.82-.81-1.82-1.82v-16.53c0-2.47.72-10.8-6.44-10.8-5.56,0-6.69,5.71-6.91,8.27v19.06c0,1-.81,1.82-1.82,1.82h-8.72c-1,0-1.82-.81-1.82-1.82V29.37c0-1,.81-1.82,1.82-1.82h8.72c1,0,1.82.81,1.82,1.82v3.07c2.06-3.09,5.12-5.48,11.65-5.48,14.44,0,14.36,13.49,14.36,20.9v17.05h0Z"
          />
        </svg>
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
